body{
    margin: 0px;
    background: rgb(0, 0, 0);
    background-size: contain;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
.header{
    background: url('../../Content/Media/IMG_8572.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    height: 30vw;
    padding: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
}

.logoContainer{
    background: url('../../Content/Icons/Brand Assets/Assets/Logo variations/Logo - vertical solid circle outline text1 cropped.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vw;
    aspect-ratio: 1;
    border-radius: 50%;
}

.tabs{
    width: 100vw;
    max-height: 10vw;
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
    border-bottom: 0.1vw solid white;
}

.tab{
    max-width: 10vw;
    max-height: 10vw;
    /* background-color:rgb(254, 202, 9); */
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 4px; */
    color: rgb(40, 40, 40);
    font-size: 1.5vw;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    transition: scale 0.3s, background-color 0.3s, color 0.3s;
}

.tab:hover{
    scale: 1.1;
    background-color: rgb(254, 202, 9);
    color: rgb(207, 18, 49);
}

/* Body */
.body{
    flex: 50%;
    margin: 2vw;
    color: rgb(40, 40, 40);
    font-size: 1vw;
    gap: 1vw;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
}

.event{
    min-width: 20vw;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    background: rgba(40, 40, 40);
}

.summary{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    font-size: 1vw;
    color: rgb(255, 255, 255);
}

a, h1{
    text-decoration: none;
    color: rgb(254, 202, 9);
}

.buttons{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.ticketButton{
    width: fit-content;
    height: fit-content;
    font-size: 1vw;
    color: white;
    background-color: rgb(254, 202, 9);
    padding: 1.5vw;
    border-radius: 4px;
    color: rgb(207, 18, 49);
    transition: scale 0.3s, background-color 0.3s, color 0.3s;
}

.playButton{
    background-color: transparent;
    background: rgb(254, 202, 9) url('../../Content/Icons/Play Button/icons8-play-button-circled-96-cropped.png');
    background-size: contain;
    background-position: center;
    height: 4vw;
    aspect-ratio: 1;
    border-radius: 50%;
}

.imageContainer{
    background: url('../../Content/Media/La Tana.jpg');
    aspect-ratio: 1;
    background-color: lightgrey;

}

#laTanaNights{
    background: url('../../Content/Media/IMG_8597.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
}

#bottomlessBuffet{
    background: url('../../Content/Media/Brunch\ Poster\ 8.9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#boozyBingo{
    background: url('../../Content/Media/Bingo\ Poster\ 1.12.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

#liveMusic{
    background: url('../../Content/Media/Artist\ Night\ Poster\ 1.6.1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

#jazzClub{
    background: url('../../Content/Media/Jazz\ Poster\ 2.5.1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

#serieA{
    background: url('../../Content/Media/Lecce\ Hub\ Poster\ 5.6.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}


/* Footer */
.footnote{
    text-align: center;
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    font-size: 1vw;
}

